#container {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/pat.png");

}

header {
  padding-top: 20px;
}
header h1 {
  font-family: 'Poiret One';
  color: #424242;
  text-align: center;
  margin-bottom: 80px;
}

#main-content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.info-container {
  padding: 20px;
}
.img-container {
  height: 250px;
  width: 250px;
  border-radius: 250px;
  margin-bottom: 20px;
}
.names {
  font-family: 'Inconsolata';
  font-size: 2em;
  color: #424242;
  text-align: center;
  margin-bottom: 10px;
}
.social-media {
  text-align: center;
  word-spacing: 10px;
}
.social-media a {
  font-size: 2em;
}
.social-media .icon-facebook2 {
  color: #3b5998;
}
.social-media .icon-google-plus2 {
  color: #db4437;
}

#nipun .img-container {
  background: url('../img/aboutus/nipun.jpg');
  background-position: center center;
  background-size: 250px;
}

#rishikesh .img-container {
  background: url('../img/aboutus/rishikesh.jpg');
  background-position: center center;
  background-size: 250px;
}

#siddharth .img-container {
  background: url('../img/aboutus/siddharth.jpg');
  background-position: center center;
  background-size: 250px;
}
